<div class="wrapper">
  <div class="section about wf-section">
    <div class="container w-container" style="opacity: 1;">
      <h2 class="heading xl py-md-5 pb-0">Who we are</h2>
      <div class="_12-columns mob-swap">
        <div class="column desktop-7-column tablet-6-column px-2"><img src="https://uploads-ssl.webflow.com/61a79d9b1083e6154cf225c6/61a7b22563ccc048a130cd71_Screen%20Shot%202021-11-23%20at%203.38.43%20PM-min.png" loading="lazy" width="465" sizes="(max-width: 479px) 80vw, (max-width: 767px) 76vw, (max-width: 991px) 40vw, (max-width: 1279px) 47vw, 465px" srcset="https://uploads-ssl.webflow.com/61a79d9b1083e6154cf225c6/61a7b22563ccc048a130cd71_Screen%20Shot%202021-11-23%20at%203.38.43%20PM-min-p-500.png 500w, https://uploads-ssl.webflow.com/61a79d9b1083e6154cf225c6/61a7b22563ccc048a130cd71_Screen%20Shot%202021-11-23%20at%203.38.43%20PM-min-p-800.png 800w, https://uploads-ssl.webflow.com/61a79d9b1083e6154cf225c6/61a7b22563ccc048a130cd71_Screen%20Shot%202021-11-23%20at%203.38.43%20PM-min-p-1080.png 1080w, https://uploads-ssl.webflow.com/61a79d9b1083e6154cf225c6/61a7b22563ccc048a130cd71_Screen%20Shot%202021-11-23%20at%203.38.43%20PM-min.png 1584w" alt=""></div>
        <div class="column desktop-1-column tablet-hidden"></div>
        <div class="column desktop-4-column tablet-6-column">
          <div class="text-box">
            <p class="paragraph">
              SG Lending is the only lender in the country exclusively providing short-term financing to owners of industrial real estate.<br><br>
              SG Lending is focused on the origination of mortgage loans, mezzanine loans, acquisition of distressed loans, and preferred equity investments across the US.<br><br>
              SG Lending has a long track record of valuing and closing on industrial real estate transactions, providing borrowers with a capital partner who understands the due diligence process and real estate, and as a result can close quickly.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-4 about team wf-section">
    <div class="container w-container" style="opacity: 1;">
      <h2 class="heading xl">Leadership Team</h2>
      <div class="w-layout-grid grid">
        <div id="w-node-c75d48f3-ea9b-b6cf-f012-2d43522390e2-8b67d1c0">
          <h1 class="heading-5 names">Mark Simon</h1>
          <h1 class="heading-5 names title">Founder &amp; CEO</h1>
        </div>
        <div id="w-node-_3331398f-c707-96ff-75d9-6b9aecc95340-8b67d1c0">
          <h1 class="heading-5 names">Avi Philipson</h1>
          <h1 class="heading-5 names title">Executive Vice President</h1>
        </div>
        <div id="w-node-b6b67060-38bc-177e-3e7b-eac3fb8f57d4-8b67d1c0">
          <h1 class="heading-5 names">Andrew Chaimowitz</h1>
          <h1 class="heading-5 names title">Chief Financial Officer</h1>
        </div>
        <div id="w-node-_91263517-3ecc-967f-20c8-ca234240f386-8b67d1c0">
          <h1 class="heading-5 names">Joseph Moser</h1>
          <h1 class="heading-5 names title">Director of Originations &amp; Asset Management</h1>
        </div>
      </div>
    </div>
  </div>
</div>
