<div class="wrapper">
  <div class="section slider-hero-full home wf-section">
    <div class="container-2 contact">
      <div class="w-layout-grid project-description-grid">
        <div id="w-node-b74c8c4c-4a64-f331-e8ae-f0ac449ac42e-dd67d1b9">
          <div class="position-name-text white">Contact Us</div>
        </div>
        <div id="w-node-b74c8c4c-4a64-f331-e8ae-f0ac449ac431-dd67d1b9" class="paragraph-light invest white">
          Miami (Headquarters)<br>
          3323 NE 163rd Street<br>
          Suite 304<br>
          North Miami Beach, FL 33160<br><br>
          Telephone: 305-701-3240<br>
          Financing Inquiry: <a href="mailto:Joe@benmarkcapital.com" class="link-2">Joe@benmarkcapital.com</a></div>
      </div>
    </div>
  </div>
</div>
