<div class="container" style="padding-top: 30px; padding-bottom: 50px;">
  <div class="row">
    <h3 class="text-center">INVESTMENT CRITERIA</h3>
  </div>
  
  <div class="row">
    <div class="col-sm-12">
      <div class="card border-0 bg-light">
        <div class="card-body">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th scope="row">Loan Amount</th>
                <td>Minimum of $2 million</td>
              </tr>
              <tr>
                <th scope="row">Collateral Type</th>
                <td>All forms of industrial property including land (IOS/parking) and development sites, and both vacant and stabilized buildings</td>
              </tr>
              <tr>
                <th scope="row">Locations</th>
                <td>Major U.S. industrial markets</td>
              </tr>
              <tr>
                <th scope="row">Loan Type</th>
                <td>Senior and junior acquisition financing, refinancing, construction loans, equity cash-outs</td>
              </tr>
              <tr>
                <th scope="row">Loan Term</th>
                <td>Minimum 12 months</td>
              </tr>
              <tr>
                <th scope="row">Amortization</th>
                <td>None</td>
              </tr>
              <tr>
                <th scope="row">Rate</th>
                <td>Competitive</td>
              </tr>
              <tr>
                <th scope="row">Economic Requirements</th>
                <td>Up to 85% LTV and no DSCR or DY required for initial advance</td>
              </tr>
              <tr>
                <th scope="row">Recourse</th>
                <td>Only “bad-boy” carveouts, completion guaranties, and environmental indemnities</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
