<div class="wrapper">
  <div class="section green grey wf-section">
    <div class="container w-container" style="opacity: 1;">
      <h2 class="heading xl white">Lending Parameters</h2>
      <p class="paragraph no-margin">*Exceptions to be considered</p>
      <div class="spacer _80"></div>
      <div class="_12-columns">
        <div class="column desktop-5-column">
          <img src="https://uploads-ssl.webflow.com/61a79d9b1083e6154cf225c6/61b1287135bacc1f92adf05b_benmark_icons-02.png" loading="lazy" alt="" class="image-8">
          <div class="spacer _80"></div>
          <div class="text-box">
            <h2 class="heading-3 alt">Target Markets</h2>
            <p class="paragraph no-margin subhead alt">Nationwide with a focus on Major Gateway Cities</p>
          </div>
        </div>
        <div class="column desktop-1-column"></div>
        <div class="column desktop-5-column">
          <img src="https://uploads-ssl.webflow.com/61a79d9b1083e6154cf225c6/61b129e14e8afb1785de8027_benmark_icon-03.png" loading="lazy" alt="" class="image-8">
          <div class="spacer _80"></div>
          <div class="text-box">
            <h2 class="heading-3 alt">Property Types</h2>
            <p class="paragraph no-margin subhead alt">
              Industrial Real Estate including Land, Buildings, Sale Leasebacks, Vacant Properties, Construction Financing
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section about wf-section pb-5">
    <div class="container w-container">
      <div class="_12-columns mob-swap">
        <div class="column desktop-4-column tablet-6-column">
          <div class="text-box">
            <div class="divider-div white">
              <h3 class="heading s black">Investment Types</h3>
              <p class="paragraph no-margin black  mb-2">Acquisition Financing<br>Rehab Loans<br>Construction Financing<br>Construction Completion<br>Note-on-Note Financing<br>Performing/Non-Performing Note Acquisitions</p>
            </div>
            <div class="divider-div white">
              <h3 class="heading s black">Deal Structure</h3>
              <p class="paragraph no-margin black  mb-2">First Mortgage Loans<br>Mezzanine Loans<br>Preferred Equity Investment</p>
            </div>
            <div class="divider-div white">
              <h3 class="heading s black">Loan Duration</h3>
              <p class="paragraph no-margin black  mb-2">1-3 years (extension options available)<br></p>
            </div>
            <div class="divider-div white">
              <h3 class="heading s black">Loan To Value (LTV)</h3>
              <p class="paragraph no-margin black  mb-2">Up to 80%<br></p>
            </div>
            <div class="divider-div white">
              <h3 class="heading s black">Loan To Cost (LTC)</h3>
              <p class="paragraph no-margin black  mb-2">Up to 85%<br></p>
            </div>
            <div class="divider-div white">
              <h3 class="heading s black">Origination Fee / Exit Fees</h3>
              <p class="paragraph no-margin black  mb-2">Typically 1 -3%<br></p>
            </div>
          </div>
        </div>
        <div class="column desktop-1-column tablet-hidden"></div>
        <div class="column desktop-1-column tablet-hidden"></div>
        <div class="column desktop-5-column">
          <div class="text-box">
            <div class="divider-div white black">
              <p class="paragraph no-margin subhead black mb-2">Loan Amount</p>
              <p class="paragraph no-margin black side mb-2">$2 million - $50 million +</p>
            </div>
            <div class="divider-div white">
              <p class="paragraph no-margin subhead black mb-2">Typical Loan Term</p>
              <p class="paragraph no-margin black side mb-2">6 Months - 3 Years</p>
              <p class="paragraph no-margin subhead black sub mb-2">(Extension options offered)</p>
            </div>
            <div class="divider-div white">
              <p class="paragraph no-margin subhead black mb-2">Amortization</p>
              <p class="paragraph no-margin black side mb-2">Interest Only</p>
            </div>
            <div class="divider-div white">
              <p class="paragraph no-margin subhead black mb-2">Closing Time</p>
              <p class="paragraph no-margin black side mb-2">< 45 Days</p>
            </div>
          </div>
          <div class="spacer _16"></div>
        </div>
      </div>
    </div>
  </div>
</div>
