<div class="wrapper">
  <div class="section slider-hero-full home landing wf-section">
    <div class="container hero w-container" style="opacity: 1;">
      <h1 class="heading _2xl">An Industrial Real Estate Lender</h1>
    </div>
  </div>
</div>
