<div class="wrapper" style="min-height: 100%;">
  <div class="section slider-hero-full wf-section home h-100 landing py-5">
    <div class="container hero strategy w-container">
      <div class="bg-opacity-50 container bg-dark py-4">
        <div class="heading text-light">
          With over 20 years of track record and experience financing, owning, developing, and managing industrial properties, the principals of SG Lending understand all facets of industrial real estate and are able to analyze complex environmental, zoning or other due diligence challenges owners may face while remaining sensitive to borrowers’ out-of-pocket expenses. 
        </div>
      </div>
    </div>

    <div class="section bg-transparent pt-3 pb-0">
      <div class="container">
        <div class="bg-opacity-50 container bg-dark py-4">
          <h2 class="heading-2">Our Investment Strategy</h2>
          <div class="_12-columns mt-xl-5 justify-content-start">
            <div class="column desktop-6-column tablet-6-column">
              <div class="text-box">
                <h2 class="heading-2">1</h2>
                <p class="paragraph no-margin m-0">Provide crucial interim financing to assist borrowers in repositioning properties to qualify for long-term loans, including bridge, construction, and refinancing loans<br><br><br></p>
              </div>
              <div class="text-box">
                <h2 class="heading-2">3</h2>
                <p class="paragraph no-margin m-0"> Develop creative financing options to provide short-term funding needed to move real estate projects forward with no appraisals or investment committees required<br><br></p>
              </div>
            </div>
            <div class="column desktop-5-column">
              <div class="text-box">
                <h2 class="heading-2">2</h2>
                <p class="paragraph no-margin m-0"> Financing options that include mezzanine lending and senior and junior mortgage loans<br><br><br></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
