<div class="wrapper">
  <div class="section slider-hero-full wf-section">
    <div class="container hero strategy w-container" style="opacity: 1;">
      <h1 class="heading _2xl">We focus on special situation opportunities that require bespoke solutions.</h1>
    </div>
  </div>
  <div class="section black wf-section pb-5">
    <div class="container w-container" style="opacity: 1;">
      <div class="_12-columns">
        <div class="column desktop-6-column tablet-6-column"><img src="https://uploads-ssl.webflow.com/61a79d9b1083e6154cf225c6/61a7b690ee6a0190044e0e12_Screen%20Shot%202021-11-23%20at%204.30.53%20PM-min.png" loading="lazy" width="779" sizes="(max-width: 767px) 92vw, (max-width: 991px) 45vw, 46vw" srcset="https://uploads-ssl.webflow.com/61a79d9b1083e6154cf225c6/61a7b690ee6a0190044e0e12_Screen%20Shot%202021-11-23%20at%204.30.53%20PM-min-p-500.png 500w, https://uploads-ssl.webflow.com/61a79d9b1083e6154cf225c6/61a7b690ee6a0190044e0e12_Screen%20Shot%202021-11-23%20at%204.30.53%20PM-min-p-800.png 800w, https://uploads-ssl.webflow.com/61a79d9b1083e6154cf225c6/61a7b690ee6a0190044e0e12_Screen%20Shot%202021-11-23%20at%204.30.53%20PM-min-p-1080.png 1080w, https://uploads-ssl.webflow.com/61a79d9b1083e6154cf225c6/61a7b690ee6a0190044e0e12_Screen%20Shot%202021-11-23%20at%204.30.53%20PM-min-p-1600.png 1600w, https://uploads-ssl.webflow.com/61a79d9b1083e6154cf225c6/61a7b690ee6a0190044e0e12_Screen%20Shot%202021-11-23%20at%204.30.53%20PM-min-p-2000.png 2000w, https://uploads-ssl.webflow.com/61a79d9b1083e6154cf225c6/61a7b690ee6a0190044e0e12_Screen%20Shot%202021-11-23%20at%204.30.53%20PM-min.png 2572w" alt="" class="image"></div>
        <div class="column desktop-1-column"></div>
        <div class="column desktop-5-column">
          <div class="text-box">
            <h2 class="heading-2">Our Investment Strategy</h2>
            <p class="paragraph no-margin mb-5">
              With 40 years combined experience financing, owning, developing and managing industrial real estate, the principals of SG Lending understand all facets of industrial real estate and have the unique ability to work through and understand complex environmental, zoning or other due diligence challenges faced by owners of industrial properties. SG Lending is able to move quickly and provide short-term assistance needed by owners while providing creative bridge and mezzanine loan solutions.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container w-container" style="opacity: 1;">
      <div class="_12-columns mt-xl-5">
        <div class="column desktop-6-column tablet-6-column">
          <div class="text-box">
            <h2 class="heading-2">1</h2>
            <p class="paragraph no-margin mb-5">Provide crucial interim financing to assist borrowers with repositioning properties to qualify for long-term loans.<br><br><br></p>
          </div>
          <div class="text-box">
            <h2 class="heading-2">2</h2>
            <p class="paragraph no-margin mb-5">Develop creative financing options that make available the short-term funding needed to move your project forward.<br><br><br></p>
          </div>
        </div>
        <div class="column desktop-5-column">
          <div class="text-box">
            <h2 class="heading-2">3</h2>
            <p class="paragraph no-margin mb-5">Financing options that include short-term mezzanine lending and Senior and Junior mortgage loans<br><br></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
