<div class="footer wf-section text-light bg-primary-color">
  <div class="footer-container w-container">
    <div class="_12-columns align-top align-left">
      <div class="column desktop-4-column">
        <a data-ix="logo" href="#" class="footer-logo w-nav-brand">
          <%= image_tag('logo.png', width: 135, alt: '', class: 'image-3') %>
        </a>
        <p class="paragraph-small no-margin text-secondary-color">© SG LENDING. All Rights Reserved.<br></p>
        <div class="spacer _64"></div>
      </div>
    </div>
  </div>
</div>
