
<footer class="container-fluid bg-primary-color text-light py-4 px-3">
  <div class="row">
      <div class="col-md-6 pb-md-0 pb-5">
        <%= image_tag('logo.png', width: 135, alt: '', class: 'image-3') %>
        <p class="paragraph-small no-margin text-secondary-color">© SG LENDING. All Rights Reserved.<br></p>
      </div>
      <div class="col-md-6 text-secondary-color">
          <h5>Contact Us</h5>
          <p>Address: 10 W Forest Avenue, Englewood, New Jersey 07631 </p>
          <p>Email: jkaplan@sg-lending.com</p>
      </div>
  </div>
</footer>
